:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 11px;
  position: relative;
  width: 1402px;
  margin: 0 auto;
  background: #32ade6;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 31px;
  position: relative;
  width: 1284.333px;
}
.logo-arcadia-zoo {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 120px;
  z-index: 1;
}
.logo-arcadia-zoo-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/0450778c-6f82-41d9-8e3b-cf784a3f3bb8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 2;
}
.menu-accueil {
  flex-shrink: 0;
  position: relative;
  width: 186px;
  height: 76px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 3;
}
.accueil {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 138.886px;
  height: 32.609px;
  margin: 21px 0 0 24px;
  color: #ffffff;
  font-family: Irish Grover, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.016px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.menu-accueil-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c26510;
  z-index: 4;
  border-radius: 12px;
}
.menu-services {
  flex-shrink: 0;
  position: relative;
  width: 185.833px;
  height: 76.957px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 6;
}
.services {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 138.886px;
  height: 32.609px;
  margin: 18.262px 0 0 23.475px;
  color: #ffffff;
  font-family: Irish Grover, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.016px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}
.menu-services-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c26510;
  z-index: 7;
  border-radius: 12px;
}
.menu-habitats {
  flex-shrink: 0;
  position: relative;
  width: 185.833px;
  height: 76.957px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 9;
}
.habitats {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 138.886px;
  height: 32.609px;
  margin: 18.262px 0 0 23.475px;
  color: #ffffff;
  font-family: Irish Grover, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.016px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.menu-habitats-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c26510;
  z-index: 10;
  border-radius: 12px;
}
.menu-contact {
  flex-shrink: 0;
  position: relative;
  width: 185.833px;
  height: 76.957px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 12;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 138.886px;
  height: 32.609px;
  margin: 18.262px 0 0 23.475px;
  color: #ffffff;
  font-family: Irish Grover, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.016px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.menu-contact-5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c26510;
  z-index: 13;
  border-radius: 12px;
}
.menu-connexion {
  flex-shrink: 0;
  position: relative;
  width: 185.833px;
  height: 76.957px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 15;
}
.connexion {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 138.886px;
  height: 32.609px;
  margin: 18.262px 0 0 23.475px;
  color: #ffffff;
  font-family: Irish Grover, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.016px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.menu-connexion-6 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c26510;
  z-index: 16;
  border-radius: 12px;
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1402px;
  height: 682px;
  background: #ffffff;
  z-index: 18;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.habitats-7 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 681px;
  background: url(./assets/images/0ab19fc1587461617d22f33ae5eabec2293933ef.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.visite-habitats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 476px;
  height: 59px;
  padding: 0 34px 0 34px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 20;
  border-radius: 75px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.visite-des-habitats {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 408px;
  height: 59px;
  color: #ffffff;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.96px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 21;
}
.services-visite-habitats-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1402px;
  height: 2231px;
  padding: 12px 0 12px 0;
  background: #fbf2da;
  z-index: 22;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.visite-habitats-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 1402px;
  z-index: 23;
}
.visite-habitats-a {
  flex-shrink: 0;
  position: relative;
  width: 1402px;
  height: 2207px;
  z-index: 24;
}
.flex-column-eb {
  position: absolute;
  height: 2219px;
  top: 0;
  right: 0;
  left: 42.5px;
  font-size: 0px;
  z-index: 44;
}
.parc-visites-guidees {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1317px;
  height: 88px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 44.22px;
  text-align: center;
  z-index: 43;
}
.visites-thematiques {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 588px;
  margin: 23px 0 0 346.5px;
  padding: 0 34px 0 34px;
  cursor: pointer;
  background: #c26510;
  border: none;
  z-index: 41;
  border-radius: 75px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.visites-thematiques-b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 520px;
  height: 59px;
  color: #ffffff;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.96px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 42;
}
.visites-centrees-themes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1283px;
  height: 49px;
  margin: 23px 0 0 16.5px;
  color: #000000;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 35.376px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}
.visites-speciales {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 432px;
  margin: 1275px 0 0 407.5px;
  padding: 0 34px 0 34px;
  cursor: pointer;
  background: #c26510;
  border: none;
  z-index: 32;
  border-radius: 75px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.visites-speciales-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 364px;
  height: 59px;
  color: #ffffff;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.96px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 33;
}
.visites-specifiques {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1239px;
  height: 70px;
  margin: 23px 0 0 39px;
  color: #000000;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 35.376px;
  text-align: center;
  z-index: 31;
}
.visites-nocturnes {
  position: relative;
  width: 772px;
  height: 136px;
  margin: 71.5px 0 0 501px;
  font-family: Fira Mono, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  z-index: 28;
}
.visites-nocturnes-d {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}
.comportement-nocturne {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.comportement-nocturne-animaux {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.visites-pour-scolaires {
  position: relative;
  width: 772px;
  height: 136px;
  margin: 99.5px 0 0 501px;
  font-family: Fira Mono, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  z-index: 25;
}
.visites-pour-scolaires-e {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}
.programmes-educatifs {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.ateliers-discussions {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.voir-aussi {
  position: relative;
  width: 370px;
  height: 49px;
  margin: 58px 0 0 989.5px;
  cursor: pointer;
  font-size: 0px;
  background: #c26510;
  border: none;
  z-index: 44;
  overflow: hidden;
}
.voir-aussi-f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 84px;
  height: 23px;
  margin: 0 0 0 143px;
  color: #ffffff;
  font-family: Imprima, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 45;
}
.flex-row-f {
  position: relative;
  width: 375px;
  height: 18px;
  margin: -4px 0 0 -9px;
  z-index: 49;
}
.restauration {
  position: absolute;
  width: 202px;
  height: 18px;
  top: 0;
  left: 0;
  z-index: 47;
}
.restauration-10 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 48;
}
.visite-petit-train {
  position: absolute;
  width: 202px;
  height: 18px;
  top: 0;
  left: 173px;
  z-index: 49;
}
.visite-habitats-11 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 50;
}
.line {
  position: relative;
  width: 1px;
  height: 18px;
  margin: -10px 0 0 165px;
  background: url(./assets/images/06f001e3-a2e0-41e7-bd7a-c94ba56e1807.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.decouverte-des-predateurs {
  position: absolute;
  width: 410px;
  height: 233px;
  top: 266px;
  left: 44px;
  border: 1px solid #000000;
  z-index: 38;
  overflow: hidden;
  border-radius: 50px;
}
.decouverte-des-predateurs-12 {
  position: absolute;
  width: 410px;
  height: 233px;
  top: -1px;
  left: -1px;
  background: url(./assets/images/f4681556441bcc186a633d9bfcad4af206b5daa1.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}
.decouverte-des-predateurs-13 {
  position: absolute;
  width: 772px;
  height: 136px;
  top: 300px;
  left: 501px;
  font-family: Fira Mono, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  z-index: 37;
}
.decouverte-des-predateurs-14 {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}
.decouverte-des-predateurs-15 {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.decouverte-des-predateurs-16 {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.geants-du-zoo {
  position: absolute;
  width: 410px;
  height: 233px;
  top: 522px;
  left: 44px;
  border: 1px solid #000000;
  z-index: 35;
  overflow: hidden;
  border-radius: 50px;
}
.geants-du-zoo-17 {
  position: absolute;
  width: 410px;
  height: 246px;
  top: -1px;
  left: -1px;
  background: url(./assets/images/a23ea2c72189e67069ff1817613dc7e9a744a15b.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
  backdrop-filter: blur(2px);
}
.geants-du-zoo-18 {
  position: absolute;
  width: 772px;
  height: 177px;
  top: 549px;
  left: 499.5px;
  font-family: Fira Mono, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  z-index: 34;
}
.geants-du-zoo-19 {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-transform: uppercase;
}
.geants-du-zoo-1a {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}
.geants-du-zoo-1b {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-transform: uppercase;
}
.geants-du-zoo-1c {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.flex-column-c {
  position: absolute;
  width: 410px;
  height: 489px;
  top: 1692px;
  left: 86.5px;
  z-index: 29;
}
.visites-nocturnes-1d {
  position: relative;
  width: 410px;
  height: 233px;
  margin: 0 0 0 0;
  border: 1px solid #000000;
  z-index: 29;
  overflow: hidden;
  border-radius: 50px;
}
.visites-nocturnes-1e {
  position: absolute;
  width: 410px;
  height: 233px;
  top: -1px;
  left: -1px;
  background: url(./assets/images/ac5587bb7f3f882dbcac7396903254b0a237d021.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  backdrop-filter: blur(2px);
}
.visites-scolaires {
  position: relative;
  width: 410px;
  height: 233px;
  margin: 23px 0 0 0;
  border: 1px solid #000000;
  z-index: 26;
  overflow: hidden;
  border-radius: 50px;
  backdrop-filter: blur(2px);
}
.visites-scolaires-1f {
  position: absolute;
  width: 410px;
  height: 233px;
  top: -1px;
  left: -1px;
  background: url(./assets/images/386abec38a601eadcececabcfbda7106a89c8eb9.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.visite-habitats-20 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 42px;
  position: absolute;
  width: 100%;
  height: 696px;
  top: 50%;
  left: 0;
  padding: 13px 89px 13px 89px;
  background: #ffffff;
  transform: translate(0, -43.46%);
  z-index: 51;
  overflow: hidden;
}
.safari-des-petits-explorateurs {
  position: relative;
  width: 772px;
  font-family: Fira Mono, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  z-index: 55;
}
.safari-des-petits-explorateurs-21 {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}
.safari-des-petits-explorateurs-22 {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.aventures-animales-en-famille {
  position: relative;
  width: 772px;
  font-family: Fira Mono, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  z-index: 58;
}
.aventures-animales-en-famille-23 {
  position: relative;
  color: #c26510;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}
.aventures-animales-en-famille-24 {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.family-activities {
  position: relative;
  color: #000000;
  font-family: Figma Hand, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
}
.interactive-visits {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1220px;
  height: 70px;
  color: #000000;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 35.376px;
  text-align: center;
  z-index: 54;
}
.children-family-tours {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 752px;
  padding: 0 34px 0 34px;
  cursor: pointer;
  background: #c26510;
  border: none;
  z-index: 52;
  border-radius: 75px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.children-family-tours-25 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 684px;
  height: 59px;
  color: #ffffff;
  font-family: Finger Paint, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.96px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 53;
}
.little-explorers-safari {
  position: relative;
  width: 410px;
  height: 233px;
  border: 1px solid #000000;
  z-index: 56;
  overflow: hidden;
  border-radius: 50px;
}
.little-explorers-safari-26 {
  position: absolute;
  width: 410px;
  height: 233px;
  top: -1px;
  left: -1px;
  background: url(./assets/images/a0da1da0e49a120e97e30d3c340959cab738c56c.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
  backdrop-filter: blur(2px);
}
.family-animal-adventures {
  position: relative;
  width: 410px;
  height: 233px;
  border: 1px solid #000000;
  z-index: 59;
  overflow: hidden;
  border-radius: 50px;
  backdrop-filter: blur(2px);
}
.family-animal-adventures-27 {
  position: absolute;
  width: 410px;
  height: 233px;
  top: -1px;
  left: -1px;
  background: url(./assets/images/7e51e4dc772ee248388ff808d709385e36bf941d.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  height: 125px;
  z-index: 61;
}
.footer-28 {
  flex-shrink: 0;
  position: relative;
  width: 1402px;
  height: 125px;
  background: #32ade6;
  border: 1px solid #ffffff;
  z-index: 62;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 1247px;
  height: 109px;
  margin: 0 0 0 55px;
  z-index: 92;
}
.arcadia-zoo-logo-white {
  position: absolute;
  width: 190px;
  height: 105px;
  top: 0;
  left: 50%;
  transform: translate(-328.16%, 0);
  z-index: 92;
  overflow: hidden;
}
.arcadia-zoo-logo-white-29 {
  position: relative;
  width: 190px;
  height: 93px;
  margin: -7px 0 0 0;
  background: url(./assets/images/7dc808d393812dfc6b887b5ca06bd95938b827be.png)
    no-repeat center;
  background-size: cover;
  z-index: 93;
}
.address {
  position: absolute;
  width: 268px;
  height: 91px;
  top: 6px;
  left: 50%;
  transform: translate(132.65%, 0);
  z-index: 79;
  overflow: hidden;
}
.address-2a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 8px;
  left: 15px;
  color: #ffffff;
  font-family: Itim, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 80;
}
.follow-us {
  position: absolute;
  width: 199px;
  height: 96px;
  top: 13px;
  left: 736px;
  font-size: 0px;
  z-index: 68;
}
.follow-us-2b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 179px;
  height: 22px;
  margin: 0 0 0 9px;
  color: #ffffff;
  font-family: Itim, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 78;
}
.flex-row-fb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 199px;
  height: 76px;
  margin: -2px 0 0 0;
  z-index: 75;
}
.facebook {
  flex-shrink: 0;
  position: relative;
  width: 59px;
  height: 58px;
  z-index: 69;
}
.facebook-2c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 70;
  overflow: hidden;
}
.icon {
  position: relative;
  width: 31.041px;
  height: 52.334px;
  margin: 2.834px 0 0 15.209px;
  background: url(./assets/images/6decf3eb-453e-4615-bbf3-39d94f1a7c6f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 71;
}
.twitter {
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 58px;
  z-index: 72;
}
.twitter-2d {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 73;
  overflow: hidden;
}
.icon-2e {
  position: relative;
  width: 46px;
  height: 47.363px;
  margin: 5.227px 0 0 0;
  background: url(./assets/images/f486eb6f-f2ca-4125-b7ee-1aeeb82cb3eb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 74;
}
.youtube {
  flex-shrink: 0;
  position: relative;
  width: 56px;
  height: 76px;
  z-index: 75;
}
.youtube-2f {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 76;
  overflow: hidden;
}
.icon-30 {
  position: relative;
  width: 55.336px;
  height: 52.957px;
  margin: 10.666px 0 0 0.33px;
  background: url(./assets/images/b25e2e1a-0849-4acf-9326-54b501a17050.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 77;
}
.menu-bas {
  position: absolute;
  width: 538px;
  height: 52px;
  top: 18.5px;
  left: 50%;
  transform: translate(-77.04%, 0);
  z-index: 81;
  overflow: hidden;
}
.connexion-bas {
  position: absolute;
  width: 145.585px;
  height: 23px;
  top: 9.5px;
  left: 398.152px;
  z-index: 82;
}
.connexion-bas-31 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 83;
}
.contacts-bas {
  position: absolute;
  width: 82.152px;
  height: 18px;
  top: 9.5px;
  left: 317px;
  z-index: 84;
}
.contacts-bas-32 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 85;
}
.habitats-bas {
  position: absolute;
  width: 102.949px;
  height: 15px;
  top: 9.5px;
  left: 199px;
  z-index: 86;
}
.habitats-bas-33 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 87;
}
.services-bas {
  position: absolute;
  width: 105.029px;
  height: 18px;
  top: 9.5px;
  left: 87px;
  z-index: 88;
}
.services-bas-34 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 89;
}
.accueil-bas {
  position: absolute;
  width: 82.152px;
  height: 18px;
  top: 9.5px;
  left: -2px;
  z-index: 90;
}
.accueil-bas-35 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 91;
}
.copyright {
  position: relative;
  width: 1440px;
  height: 20px;
  margin: -3px 0 0 0;
  z-index: 63;
}
.copyrignt {
  position: absolute;
  width: 1440px;
  height: 20px;
  top: 0;
  left: 0;
  background: #c26510;
  z-index: 64;
  overflow: hidden;
}
.devsoft {
  position: absolute;
  width: 81px;
  height: 20px;
  top: 0;
  left: 868px;
  z-index: 66;
}
.devsoft-36 {
  position: absolute;
  width: 81px;
  height: 100%;
  top: 0;
  left: 0;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 67;
}
.nbsp {
  position: relative;
  color: #1e1e1e;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
}
.devsoft-37 {
  position: relative;
  color: #ffffff;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
}
.arcadia-zoo-tous-droits-reserves {
  position: absolute;
  width: 524px;
  height: 20px;
  top: 1px;
  left: 354px;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 65;
}
.copy {
  position: relative;
  color: #ffffff;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
}
.arcadia-zoo-tous-droits-reserves-38 {
  position: relative;
  color: #1e1e1e;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
}
.copy-39 {
  position: relative;
  color: #ffffff;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
}
.developpe-par {
  position: relative;
  color: #1e1e1e;
  font-family: JejuMyeongjo, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
}
